.menu-ubicacion p {
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.ubicacion {
    display: flex;
    flex-direction: column-reverse;
}

.ubicacion-imagen iframe{
    width: 100%;
}

.ubi{
    padding-top: 1rem;
}